export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_PORT=5433
export DB_HOST=localhost
export DB_NAME=canvas

export DB_TEST_USERNAME=postgres_test
export DB_TEST_PASSWORD=postgres_test
export DB_TEST_HOST=localhost
export DB_TEST_PORT=5434
export DB_TEST_NAME=canvas_test
